# .gitignore for Grails

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/target-eclipse/

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script
/*DB.*
.DS_Store

# logs
/stacktrace.log
/test/reports
/logs
/*.log

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
/plugin.xml
/.link_to_grails_plugins/

# "temporary" build files
/target
/out/
/cobertura.ser

# other
*.iws
/.idea
*.iml
